In [1]:
from pymongo import MongoClient, CursorType
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that our new database was created
print(mongo.list_database_names())

['ETL_Project', 'admin', 'autosaurus', 'config', 'epa', 'local', 'met', 'petsitly_marketing', 'uk_food_db']

In [4]:
# assign the database to a variable name
db = mongo['ETL_Project']

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['flights_clean', 'airlines', 'airports', 'flights']

In [6]:
airlines = db['airlines']
airports = db['airports']
flights = db['flights_clean']

In [7]:
# review a document in each collection (flights)
print(flights.find_one())

{'_id': ObjectId('641cd7439c26af7b8f0ae3f5'), '': '0', 'DAY_OF_WEEK': 'Thursday', 'FLIGHT_NUMBER': '98', 'SCHEDULED_DEPARTURE': '0005', 'DEPARTURE_DELAY': '-11.0', 'SCHEDULED_TIME': '205.0', 'ELAPSED_TIME': '194.0', 'DISTANCE': '1448', 'SCHEDULED_ARRIVAL': '0430', 'ARRIVAL_DELAY': '-22.0', 'DIVERTED': '0', 'CANCELLED': '0', 'DATE': '2015-01-01', 'DELAYED_TIME': '11.0', 'DELAYED': '0', 'AIRLINE': 'Alaska Airlines Inc.', 'ORIGIN_AIRPORT': 'Ted Stevens Anchorage International Airport', 'ORIGIN_STATE': 'AK', 'DESTINATION_AIRPORT': 'Seattle-Tacoma International Airport', 'DESTINATION_STATE': 'WA'}

In [8]:
# review a document in the airports
print(airports.find_one())

{'_id': ObjectId('6419010c772b22da02e532bb'), 'IATA_CODE': 'ABE', 'AIRPORT': 'Lehigh Valley International Airport', 'CITY': 'Allentown', 'STATE': 'PA', 'COUNTRY': 'USA', 'LATITUDE': 40.65236, 'LONGITUDE': -75.4404}

In [9]:
# review a document in the airlines
print(airlines.find_one())

{'_id': ObjectId('641900d1772b22da02e532ac'), 'IATA_CODE': 'UA', 'AIRLINE': 'United Air Lines Inc.'}

In [14]:
# Find the number of flights with airline of Alaska Air
query = {'AIRLINE': 'Alaska Airlines Inc.'}
results = flights.count_documents(query)
results

158054

In [16]:
# Create a query that finds flights that left from Aspen-Pitkin Co or Nantucket, MA
query = {'ORIGIN_AIRPORT': {'$in': ['Aspen-Pitkin County Airport', 'Nantucket Memorial Airport']}}
# sort in descending order by Distance
sort = [('DISTANCE', -1)]
# limit the results to the first 5
limit = 5
# Pretty print the results
pprint(list(flights.find(query).sort(sort).limit(limit)))

[{'': '2278574',
  'AIRLINE': 'Skywest Airlines Inc.',
  'AIRLINE_DELAY': '6.0',
  'AIR_SYSTEM_DELAY': '10.0',
  'ARRIVAL_DELAY': '93.0',
  'CANCELLED': '0',
  'DATE': '2015-01-01',
  'DAY_OF_WEEK': 'Thursday',
  'DELAYED': '0',
  'DELAYED_TIME': '-10.0',
  'DEPARTURE_DELAY': '83.0',
  'DESTINATION_AIRPORT': 'George Bush Intercontinental Airport',
  'DESTINATION_STATE': 'TX',
  'DISTANCE': '913',
  'DIVERTED': '0',
  'ELAPSED_TIME': '161.0',
  'FLIGHT_NUMBER': '5541',
  'LATE_AIRCRAFT_DELAY': '77.0',
  'ORIGIN_AIRPORT': 'Aspen-Pitkin County Airport',
  'ORIGIN_STATE': 'CO',
  'SCHEDULED_ARRIVAL': '1812',
  'SCHEDULED_DEPARTURE': '1441',
  'SCHEDULED_TIME': '151.0',
  'SECURITY_DELAY': '0.0',
  'WEATHER_DELAY': '0.0',
  '_id': ObjectId('641cd80e9c26af7b8f2da8a3')},
 {'': '2278573',
  'AIRLINE': 'Skywest Airlines Inc.',
  'ARRIVAL_DELAY': '5.0',
  'CANCELLED': '0',
  'DATE': '2015-01-01',
  'DAY_OF_WEEK': 'Thursday',
  'DELAYED': '0',
  'DELAYED_TIME': '-5.0',
  'DEPARTURE_DELAY': '0.0',
  'DESTINATION_AIRPORT': 'George Bush Intercontinental Airport',
  'DESTINATION_STATE': 'TX',
  'DISTANCE': '913',
  'DIVERTED': '0',
  'ELAPSED_TIME': '156.0',
  'FLIGHT_NUMBER': '5218',
  'ORIGIN_AIRPORT': 'Aspen-Pitkin County Airport',
  'ORIGIN_STATE': 'CO',
  'SCHEDULED_ARRIVAL': '1455',
  'SCHEDULED_DEPARTURE': '1124',
  'SCHEDULED_TIME': '151.0',
  '_id': ObjectId('641cd80e9c26af7b8f2da8a2')},
 {'': '2278576',
  'AIRLINE': 'Skywest Airlines Inc.',
  'CANCELLATION_REASON': 'A',
  'CANCELLED': '1',
  'DATE': '2015-01-02',
  'DAY_OF_WEEK': 'Friday',
  'DELAYED': '0',
  'DESTINATION_AIRPORT': 'George Bush Intercontinental Airport',
  'DESTINATION_STATE': 'TX',
  'DISTANCE': '913',
  'DIVERTED': '0',
  'FLIGHT_NUMBER': '5489',
  'ORIGIN_AIRPORT': 'Aspen-Pitkin County Airport',
  'ORIGIN_STATE': 'CO',
  'SCHEDULED_ARRIVAL': '1116',
  'SCHEDULED_DEPARTURE': '0745',
  'SCHEDULED_TIME': '151.0',
  '_id': ObjectId('641cd80e9c26af7b8f2da8a5')},
 {'': '2278575',
  'AIRLINE': 'Skywest Airlines Inc.',
  'CANCELLATION_REASON': 'B',
  'CANCELLED': '1',
  'DATE': '2015-01-01',
  'DAY_OF_WEEK': 'Thursday',
  'DELAYED': '0',
  'DESTINATION_AIRPORT': 'George Bush Intercontinental Airport',
  'DESTINATION_STATE': 'TX',
  'DISTANCE': '913',
  'DIVERTED': '0',
  'FLIGHT_NUMBER': '5564',
  'ORIGIN_AIRPORT': 'Aspen-Pitkin County Airport',
  'ORIGIN_STATE': 'CO',
  'SCHEDULED_ARRIVAL': '2025',
  'SCHEDULED_DEPARTURE': '1654',
  'SCHEDULED_TIME': '151.0',
  '_id': ObjectId('641cd80e9c26af7b8f2da8a4')},
 {'': '2278572',
  'AIRLINE': 'Skywest Airlines Inc.',
  'AIRLINE_DELAY': '11.0',
  'AIR_SYSTEM_DELAY': '8.0',
  'ARRIVAL_DELAY': '19.0',
  'CANCELLED': '0',
  'DATE': '2015-01-01',
  'DAY_OF_WEEK': 'Thursday',
  'DELAYED': '0',
  'DELAYED_TIME': '-8.0',
  'DEPARTURE_DELAY': '11.0',
  'DESTINATION_AIRPORT': 'George Bush Intercontinental Airport',
  'DESTINATION_STATE': 'TX',
  'DISTANCE': '913',
  'DIVERTED': '0',
  'ELAPSED_TIME': '159.0',
  'FLIGHT_NUMBER': '5489',
  'LATE_AIRCRAFT_DELAY': '0.0',
  'ORIGIN_AIRPORT': 'Aspen-Pitkin County Airport',
  'ORIGIN_STATE': 'CO',
  'SCHEDULED_ARRIVAL': '1116',
  'SCHEDULED_DEPARTURE': '0745',
  'SCHEDULED_TIME': '151.0',
  'SECURITY_DELAY': '0.0',
  'WEATHER_DELAY': '0.0',
  '_id': ObjectId('641cd80e9c26af7b8f2da8a1')}]

In [20]:
# Build an aggregation pipeline

# Write an aggregation query that counts the number of FLIGHTS, grouped by "ORIGIN_AIRPORT", then "CANCELLED"
group_query = {'$group': {'_id': {"ORIGIN_AIRPORT": "$ORIGIN_AIRPORT",
                                  "CANCELLED": "$CANCELLED"}, 
                          'count': { '$sum': 1 }
                         }
              }

# Create a match query that matches only the rows that have 1000 or more documents in 'count'
match_query = {'$match': {'count': {'$gte': 1000}}}

# Create a dictionary that will allow the pipeline to sort by AIRPORT in alphabetical order, 
# then count in descending order
sort_values = {'$sort': { '_id.AIRPORT': 1, 'count': -1 }}

# Put the pipeline together
pipeline = [group_query, match_query, sort_values]

In [21]:
# Run the pipeline through the aggregate method, cast the results as a list, and save the results to a variable
results = list(flights.aggregate(pipeline))

In [22]:
# Print the number of rows in the result
print("Number of rows in result: ", len(results))

Number of rows in result:  243

In [23]:
# Print the first 10 results
for i in range(10):
    pprint(results[i])

{'_id': {'CANCELLED': '0',
         'ORIGIN_AIRPORT': 'Hartsfield-Jackson Atlanta International Airport'},
 'count': 344279}
{'_id': {'CANCELLED': '0',
         'ORIGIN_AIRPORT': "Chicago O'Hare International Airport"},
 'count': 277336}
{'_id': {'CANCELLED': '0',
         'ORIGIN_AIRPORT': 'Dallas/Fort Worth International Airport'},
 'count': 233297}
{'_id': {'CANCELLED': '0', 'ORIGIN_AIRPORT': 'Denver International Airport'},
 'count': 193932}
{'_id': {'CANCELLED': '0',
         'ORIGIN_AIRPORT': 'Los Angeles International Airport'},
 'count': 192509}
{'_id': {'CANCELLED': '0',
         'ORIGIN_AIRPORT': 'Phoenix Sky Harbor International Airport'},
 'count': 145913}
{'_id': {'CANCELLED': '0',
         'ORIGIN_AIRPORT': 'San Francisco International Airport'},
 'count': 145860}
{'_id': {'CANCELLED': '0',
         'ORIGIN_AIRPORT': 'George Bush Intercontinental Airport'},
 'count': 144492}
{'_id': {'CANCELLED': '0', 'ORIGIN_AIRPORT': 'McCarran International Airport'},
 'count': 132245}
{'_id': {'CANCELLED': '0',
         'ORIGIN_AIRPORT': 'Minneapolis-Saint Paul International Airport'},
 'count': 111309}

In [24]:
# Extract the fields from the _id so they're in separate columns in a Pandas DataFrame
aggregated_df = pd.json_normalize(results)
aggregated_df

      count                                _id.ORIGIN_AIRPORT _id.CANCELLED
0    344279  Hartsfield-Jackson Atlanta International Airport             0
1    277336              Chicago O'Hare International Airport             0
2    233297           Dallas/Fort Worth International Airport             0
3    193932                      Denver International Airport             0
4    192509                 Los Angeles International Airport             0
..      ...                                               ...           ...
238    1117                     Orlando International Airport             1
239    1081           Charlotte Douglas International Airport             1
240    1074                Philadelphia International Airport             1
241    1066                   Nashville International Airport             1
242    1061                     Columbus Metropolitan Airport             0

[243 rows x 3 columns]

In [30]:
# Write an aggregation query that counts the number of FLIGHTS, grouped by "DAY_OF_WEEK", then "CANCELLED"
group_query = {'$group': {'_id': {"DAY_OF_WEEK": "$DAY_OF_WEEK",
                                  "CANCELLED": "$CANCELLED"}, 
                          'count': { '$sum': 1 }
                         }
              }

# Create a match query that matches only the rows that have 1000 or more documents in 'count'
match_query = {'$match': {'count': {'$gte': 1000}}}

# Create a dictionary that will allow the pipeline to sort by DAY_OF_WEEK  
# then count in descending order
sort_values = {'$sort': { '_id.DAY_OF_WEEK': 1, 'count': -1 }}

# Put the pipeline together
pipeline = [group_query, match_query, sort_values]

In [31]:
# Run the pipeline through the aggregate method, cast the results as a list, and save the results to a variable
results = list(flights.aggregate(pipeline))

In [32]:
# Print the number of rows in the result
print("Number of rows in result: ", len(results))

Number of rows in result:  14

In [33]:
# Print the first 10 results
for i in range(10):
    pprint(results[i])

{'_id': {'CANCELLED': '0', 'DAY_OF_WEEK': 'Friday'}, 'count': 772027}
{'_id': {'CANCELLED': '1', 'DAY_OF_WEEK': 'Friday'}, 'count': 7681}
{'_id': {'CANCELLED': '0', 'DAY_OF_WEEK': 'Monday'}, 'count': 778321}
{'_id': {'CANCELLED': '1', 'DAY_OF_WEEK': 'Monday'}, 'count': 20926}
{'_id': {'CANCELLED': '0', 'DAY_OF_WEEK': 'Saturday'}, 'count': 629444}
{'_id': {'CANCELLED': '1', 'DAY_OF_WEEK': 'Saturday'}, 'count': 8369}
{'_id': {'CANCELLED': '0', 'DAY_OF_WEEK': 'Sunday'}, 'count': 741681}
{'_id': {'CANCELLED': '1', 'DAY_OF_WEEK': 'Sunday'}, 'count': 13017}
{'_id': {'CANCELLED': '0', 'DAY_OF_WEEK': 'Thursday'}, 'count': 777598}
{'_id': {'CANCELLED': '1', 'DAY_OF_WEEK': 'Thursday'}, 'count': 11996}

In [34]:
# Extract the fields from the _id so they're in separate columns in a Pandas DataFrame
aggregated_df = pd.json_normalize(results)
aggregated_df

     count _id.DAY_OF_WEEK _id.CANCELLED
0   772027          Friday             0
1     7681          Friday             1
2   778321          Monday             0
3    20926          Monday             1
4   629444        Saturday             0
5     8369        Saturday             1
6   741681          Sunday             0
7    13017          Sunday             1
8   777598        Thursday             0
9    11996        Thursday             1
10  765893         Tuesday             0
11   14964         Tuesday             1
12  780519       Wednesday             0
13   10472       Wednesday             1

In [64]:
# Write an aggregation query that counts the number of FLIGHTS, grouped by "ORIGIN_STATE", then average "ELAPSED_TIME"
group_query = {'$group': {'_id': {"ORIGIN_STATE": "$ORIGIN_STATE"}, 
                          'average': { '$avg': '$ELAPSED_TIME'}
                         }
              }

#match_query = {'$match': {'ELAPSED_TIME'}}

# Create a dictionary that will allow the pipeline to sort by ORIGIN_STATE  

sort_values = {'$sort': { 'average': -1 }}

# Put the pipeline together
pipeline = [group_query, sort_values]

In [65]:
# Run the pipeline through the aggregate method, cast the results as a list, and save the results to a variable
results = list(flights.aggregate(pipeline))

In [66]:
results

[{'_id': {'ORIGIN_STATE': 'GU'}, 'average': 420.3957703927492},
 {'_id': {'ORIGIN_STATE': 'AS'}, 'average': 327.2169811320755},
 {'_id': {'ORIGIN_STATE': 'PR'}, 'average': 205.7294846607224},
 {'_id': {'ORIGIN_STATE': 'NJ'}, 'average': 181.53624365676276},
 {'_id': {'ORIGIN_STATE': 'VI'}, 'average': 178.6796002351558},
 {'_id': {'ORIGIN_STATE': 'NY'}, 'average': 178.4736377545016},
 {'_id': {'ORIGIN_STATE': 'WA'}, 'average': 176.4143225007334},
 {'_id': {'ORIGIN_STATE': 'MA'}, 'average': 172.2192490207894},
 {'_id': {'ORIGIN_STATE': 'PA'}, 'average': 161.90624171070618},
 {'_id': {'ORIGIN_STATE': 'HI'}, 'average': 154.28895996470717},
 {'_id': {'ORIGIN_STATE': 'OR'}, 'average': 151.95515703198666},
 {'_id': {'ORIGIN_STATE': 'FL'}, 'average': 150.13139539709627},
 {'_id': {'ORIGIN_STATE': 'CA'}, 'average': 149.994629964111},
 {'_id': {'ORIGIN_STATE': 'VA'}, 'average': 149.8012793873189},
 {'_id': {'ORIGIN_STATE': 'DE'}, 'average': 148.77894736842106},
 {'_id': {'ORIGIN_STATE': 'CT'}, 'average': 147.17039455782313},
 {'_id': {'ORIGIN_STATE': 'NV'}, 'average': 143.1939506555177},
 {'_id': {'ORIGIN_STATE': 'AZ'}, 'average': 141.39444790103576},
 {'_id': {'ORIGIN_STATE': 'AK'}, 'average': 136.94238871588203},
 {'_id': {'ORIGIN_STATE': 'CO'}, 'average': 134.95378218605924},
 {'_id': {'ORIGIN_STATE': 'RI'}, 'average': 134.8138886306591},
 {'_id': {'ORIGIN_STATE': 'MD'}, 'average': 133.6276369932052},
 {'_id': {'ORIGIN_STATE': 'MN'}, 'average': 132.47246038706163},
 {'_id': {'ORIGIN_STATE': 'NH'}, 'average': 127.1483237939493},
 {'_id': {'ORIGIN_STATE': 'IL'}, 'average': 126.90932908230238},
 {'_id': {'ORIGIN_STATE': 'NC'}, 'average': 125.51286064517916},
 {'_id': {'ORIGIN_STATE': 'TX'}, 'average': 123.74394583775332},
 {'_id': {'ORIGIN_STATE': 'UT'}, 'average': 121.97789465199693},
 {'_id': {'ORIGIN_STATE': 'OH'}, 'average': 120.82082558059403},
 {'_id': {'ORIGIN_STATE': 'MO'}, 'average': 119.86309007289135},
 {'_id': {'ORIGIN_STATE': 'MI'}, 'average': 118.61551893241396},
 {'_id': {'ORIGIN_STATE': 'KY'}, 'average': 117.40352786848642},
 {'_id': {'ORIGIN_STATE': 'NM'}, 'average': 114.04006417602567},
 {'_id': {'ORIGIN_STATE': 'GA'}, 'average': 113.89222368837602},
 {'_id': {'ORIGIN_STATE': 'NE'}, 'average': 113.68938969051139},
 {'_id': {'ORIGIN_STATE': 'IN'}, 'average': 113.31948555412944},
 {'_id': {'ORIGIN_STATE': 'TN'}, 'average': 111.30046099242558},
 {'_id': {'ORIGIN_STATE': 'ME'}, 'average': 110.99059689288634},
 {'_id': {'ORIGIN_STATE': 'VT'}, 'average': 107.39632454923716},
 {'_id': {'ORIGIN_STATE': 'LA'}, 'average': 105.83720130113849},
 {'_id': {'ORIGIN_STATE': 'WI'}, 'average': 105.44461335360243},
 {'_id': {'ORIGIN_STATE': 'MT'}, 'average': 105.25683134582623},
 {'_id': {'ORIGIN_STATE': 'ND'}, 'average': 102.57452759820984},
 {'_id': {'ORIGIN_STATE': 'KS'}, 'average': 102.21376845669143},
 {'_id': {'ORIGIN_STATE': 'OK'}, 'average': 102.10532309494371},
 {'_id': {'ORIGIN_STATE': 'SC'}, 'average': 101.87355034502691},
 {'_id': {'ORIGIN_STATE': 'WV'}, 'average': 101.59611231101512},
 {'_id': {'ORIGIN_STATE': 'AR'}, 'average': 100.19842174884825},
 {'_id': {'ORIGIN_STATE': 'IA'}, 'average': 98.32651841224295},
 {'_id': {'ORIGIN_STATE': 'SD'}, 'average': 97.99378950870577},
 {'_id': {'ORIGIN_STATE': 'ID'}, 'average': 97.3750675229578},
 {'_id': {'ORIGIN_STATE': 'AL'}, 'average': 93.06548536209553},
 {'_id': {'ORIGIN_STATE': 'WY'}, 'average': 88.49161178078788},
 {'_id': {'ORIGIN_STATE': 'MS'}, 'average': 85.00070411516195}]

In [67]:
# Print the number of rows in the result
print("Number of rows in result: ", len(results))

Number of rows in result:  54

In [68]:
# Print the first 10 results
for i in range(10):
    pprint(results[i])

{'_id': {'ORIGIN_STATE': 'GU'}, 'average': 420.3957703927492}
{'_id': {'ORIGIN_STATE': 'AS'}, 'average': 327.2169811320755}
{'_id': {'ORIGIN_STATE': 'PR'}, 'average': 205.7294846607224}
{'_id': {'ORIGIN_STATE': 'NJ'}, 'average': 181.53624365676276}
{'_id': {'ORIGIN_STATE': 'VI'}, 'average': 178.6796002351558}
{'_id': {'ORIGIN_STATE': 'NY'}, 'average': 178.4736377545016}
{'_id': {'ORIGIN_STATE': 'WA'}, 'average': 176.4143225007334}
{'_id': {'ORIGIN_STATE': 'MA'}, 'average': 172.2192490207894}
{'_id': {'ORIGIN_STATE': 'PA'}, 'average': 161.90624171070618}
{'_id': {'ORIGIN_STATE': 'HI'}, 'average': 154.28895996470717}

In [69]:
# Extract the fields from the _id so they're in separate columns in a Pandas DataFrame
aggregated_df = pd.json_normalize(results)
aggregated_df

       average _id.ORIGIN_STATE
0   420.395770               GU
1   327.216981               AS
2   205.729485               PR
3   181.536244               NJ
4   178.679600               VI
5   178.473638               NY
6   176.414323               WA
7   172.219249               MA
8   161.906242               PA
9   154.288960               HI
10  151.955157               OR
11  150.131395               FL
12  149.994630               CA
13  149.801279               VA
14  148.778947               DE
15  147.170395               CT
16  143.193951               NV
17  141.394448               AZ
18  136.942389               AK
19  134.953782               CO
20  134.813889               RI
21  133.627637               MD
22  132.472460               MN
23  127.148324               NH
24  126.909329               IL
25  125.512861               NC
26  123.743946               TX
27  121.977895               UT
28  120.820826               OH
29  119.863090               MO
30  118.615519               MI
31  117.403528               KY
32  114.040064               NM
33  113.892224               GA
34  113.689390               NE
35  113.319486               IN
36  111.300461               TN
37  110.990597               ME
38  107.396325               VT
39  105.837201               LA
40  105.444613               WI
41  105.256831               MT
42  102.574528               ND
43  102.213768               KS
44  102.105323               OK
45  101.873550               SC
46  101.596112               WV
47  100.198422               AR
48   98.326518               IA
49   97.993790               SD
50   97.375068               ID
51   93.065485               AL
52   88.491612               WY
53   85.000704               MS